.services h2 {
  text-align: center;
  padding-top: 5%;
}

.services_wrapper {
  display: flex;
  justify-content: center;
}

.services-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.services-container {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
}
